*{
    font-family: sans-serif;
}

body{
    margin: 0;
    background: #aaa;
    overflow: hidden;
}

.topbar{
    background: white;
    height: 4em;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

.title{
    display: inline;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-8px);
}

.icon{
    max-width: 80px;
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.logo{
    width: 2em;
    height: 100%;
    text-align: center;;
}

.userProfile{
    width: 2em;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 2.5em;
}

.userProfile img{
    height: 70%;
    border-radius: 50%;
}

.main{
    position: absolute;
    top: 4em;
    text-align: center;
    width: 100%;
    height: calc(100% - 4em);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#google-sign-in{
    max-width: 300px;
    width: 100%;
    position: absolute;
    bottom: 4em;
    left: 50%;
    transform: translateX(-50%);
}

div.game{
    background: white;
    border-radius: 10px;
    color: black;
    width: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 10px;
}

.game-content{
    padding: 5px;
}

.game>div>div{
    border-right: 1px solid black;
    padding: 10px;
}
.game>div>div:first-child{
    border-bottom: 1px solid black;
}

.game>div:last-child{
    padding: 20px;
}

.result{
    width: 90%;
    background: white;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px;
    color: white;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    font-size: 1.5em;
}

.win{
    background-color: green;
}

.lose{
    background-color: darkred;
}

nav{
    position: absolute;
    height: 100%;
    z-index: 10;
    width: 100%;
    background-color: white;
    text-align: center;
    transition: transform .5s;
}

nav > a:first-of-type{
    margin-top: 50px;
}

nav > a{
    margin-top: 10px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid black; */
    /* border: 1px solid black; */
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;;
}

nav > img{
    margin: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
}

.closed{
    transform:translateX(-100%);
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-color: white;
    text-align: center;
    padding: 10px;
}