.Tournament {
    width: 60%;
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
}
.Tournament img{
    height: 28px;
    margin-right: 10px;
}

.Tournament right{
    float: right;
}