.Tournament {
    width: 100%;
    background-color: white;
    padding: 10px;
    margin: 10px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.Tournament img{
    height: 28px;
    margin-right: 10px;
}

.Tournament right{
    float: right;
}