.result {
  width: 90%;
  background: white;
  margin-top: 10px;
  border-radius: 30px;
  padding: 10px;
  color: white;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  font-size: 1.5em;
}

.win {
  background-color: green;
}

.loss {
  background-color: darkred;
}

.main {
  position: absolute;
  top: 4em;
  text-align: center;
  width: 100%;
  height: calc(100% - 4em);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
