.ScheduledGame {
  /* position: absolute; */
  top: 4em;
  text-align: center;
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

div.game {
  background: white;
  border-radius: 10px;
  color: black;
  width: 80%;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 10px;
}

.game-content {
  padding: 5px;
}

.game > div > div {
  border-right: 1px solid black;
  padding: 10px;
}
.game > div > div:first-child {
  border-bottom: 1px solid black;
}

.game .winner{
  background: #85ff83;
}

.game .loser{
  background: #ff7c7c;
}

.game > div:last-child {
  padding: 20px;
}
