.ScheduledGame {
  /* position: absolute; */
  top: 4em;
  text-align: center;
  width: 100%;
  height: calc(100% - 4em);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

div.game {
  background: white;
  border-radius: 10px;
  color: black;
  width: 80%;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 10px;
}

.game-content {
  padding: 5px;
}

.game > div > div {
  border-right: 1px solid black;
  padding: 10px;
}
.game > div > div:first-child {
  border-bottom: 1px solid black;
}

.game > div:last-child {
  padding: 20px;
}
